name: Tests

on:
  pull_request:
  push:

defaults:
  run:
    shell: 'bash -Eeuo pipefail -x {0}'

jobs:

  jq:
    name: jq
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: ./tests/deb822.sh
      - run: ./tests/jq-dpkg-version.sh

  dsc:
    name: dsc
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: apply dpkg-genbuildinfo workaround
        run: |
          # dpkg-genbuildinfo is very slow on GitHub Actions (likely due to the large number of installed packages); it helps these tests a LOT to skip that for our dpkg-buildpackage invocations
          gen="$(command -v dpkg-genbuildinfo)"
          sudo dpkg-divert --add --rename --divert "$gen.orig" "$gen"
          sudo ln -sfT /bin/true "$gen"
      - run: ./tests/dsc.sh
